li{list-style-type: none;
    display: inline;
    padding-left:10px;
    padding-right:30px;
    font-size:25px;
    style: black;}
ul{Background-color:red;
    padding-left:15px;
    padding-right:35px;
    padding-top:30px;
    padding-bottom:30px;}