.tagline{margin-left:30px;
    font-size:30px}
.nav-menu 
    li
        {list-style-type: none;
        display: inline;
        padding-left:30px;
        padding-right:30px;
        font-size:25px;}
.nav-menu
    {Background-color:red;
    padding-left:35px;
    padding-right:35px;
    padding-top:30px;
    padding-bottom:30px;
    text-align:left;}
a {color:black;
text-decoration:none;}