body    
    {color: navy;
    background-color: whitesmoke;}
.tagline 
    {margin-left: 30px;
    font-size: 30px;}
.nav-menu 
    {background-color: lightgray;
    padding: 30px 35px;
    text-align: left;}
.nav-menu li 
    {list-style-type: none;
    display: inline;
    padding: 0 30px;
    font-size: 25px;}
a 
    {color: navy;
    text-decoration: none;}
h1 { color: midnightblue;}
h2 {color: midnightblue;}
h3 {color: rgb(61, 83, 225);}